.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-gray-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: cyan;
  font-size: 1.4rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: #7ed56f;
  flex: 1;
}