.sidebar {
  background-color: var(--color-gray-dark-3);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.legal {
  font-size: 1.2rem;
  color: var(--color-gray-light-4);
  text-align: center;
  padding: 2.5rem;
}