.overview {
  display: flex;
  justify-content: space-between;
}

.overview__heading {

}

.overview__stars {
  //flex: 1;
  margin-right: auto; //to move it left
}

.overview__icon-star,
.overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}

.overview__location {

}

.overview__rating {

}

.overview__rating-average {

}

.overview__rating-count {

}