.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @include respond(tab-port) {
    flex-direction: row;
    margin: 0;
  }
}

.side-nav__item {
  position: relative;
  //padding: 0 8% 0 6%;

  &:not(:last-child) {
    margin-bottom: .5rem;

    @include respond(tab-port) {
      margin: 0;
    }
  }

  @include respond(tab-port) {
    flex: 1;
  }
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  //transform-origin: bottom;
  transition: transform .2s,
              width .4s cubic-bezier(1, 0, 0, 1) .1s,
              background-color .1s;
  overflow: hidden;

  @include respond(tab-port) {
    height: 3px;
    width: 100%;
    transform: scaleY(1) scaleX(0);
    transition: transform .2s,
    width .4s cubic-bezier(1, 0, 0, 1) .1s,
    background-color .1s;
  }
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1) scaleX(1.2);
  width: 100%;

  @include respond(tab-port) {
    transform: scaleY(1.4) scaleX(1);
    height: 100%;
  }
}

.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.side-nav__item--active {
  font-weight: 600;
}

.side-nav__link:link,
.side-nav__link:visited {
  color: var(--color-gray-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;

  @include respond(tab-port) {
    justify-content: center;
    padding: 2rem;
  }

  @include respond(phone) {
    flex-direction: column;
    padding: 1.5rem .5rem;
  }
}

.side-nav__link:hover {
  //color: var(--color-primary);
  font-weight: 600;
}

.side-nav__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill : currentColor;
  margin-right: 1.5rem;

  @include respond(phone) {
    margin-right: 0;
    margin-bottom: .7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}



