.user-nav {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
}

.user-nav__icon-box {

}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}

.user-nav__notification {

}

.user-nav__user {

}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
}

.user-nav__user-name {

}